body {
    font-family: "Poppins", sans-serif;
}

.heading {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-weight: 400;
    font-size: $font-display--lg;
    line-height: 66px;

    &--md {
        font-size: $font-display--md;
        line-height: 50px;
    }
    &--sm {
        font-size: $font-display--sm;
        line-height: 34px;
    }

    &--bold {
        font-weight: 700;
    }

    &-mb {
        font-size: $font-display-mb--lg;
        line-height: 50px;
    }

    &-mb--md {
        font-size: $font-display-mb--md;
        line-height: 36px;
    }

    &-mb--sm {
        font-size: $font-display-mb--sm;
        line-height: 32px;
    }

    @include mobile {
        & {
            font-size: $font-display-mb--lg;
            line-height: 50px;
        }

        &--md {
            font-size: $font-display-mb--md;
            line-height: 36px;
        }

        &--sm {
            font-size: $font-display-mb--sm;
            line-height: 32px;
        }
    }
}

.text,
a,
.link {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    font-size: $font-text--md;
    line-height: 34px;

    &--lg {
        font-size: $font-text--lg;
        line-height: 38px;
    }

    &--sm {
        font-size: $font-text--sm;
        line-height: 28px;
    }

    &--xs {
        font-size: $font-text--xs;
        line-height: 24px;
    }

    &--bold {
        font-weight: 700;
    }

    &-mb {
        font-size: $font-text-mb--md;
        line-height: 28px;
    }

    &-mb--lg {
        font-size: $font-text-mb--lg;
        line-height: 32px;
    }

    &-mb--sm {
        font-size: $font-text-mb--sm;
        line-height: 24px;
    }

    &-mb--xs {
        font-size: $font-text-mb--xs;
        line-height: 22px;
    }

    @include mobile {
        & {
            font-size: $font-text-mb--md;
            line-height: 28px;
        }

        &--lg {
            font-size: $font-text-mb--lg;
            line-height: 32px;
        }

        &--sm {
            font-size: $font-text-mb--sm;
            line-height: 24px;
        }

        &--xs {
            font-size: $font-text-mb--xs;
            line-height: 22px;
        }
    }
}

.link,
a,
a.text {
    color: $color-title-active;
    font-weight: 600;
    text-decoration: none;
}
