.bg {
    &-primary {
        background-color: $color-primary;
    }

    &-primary--dark {
        background-color: $color-primary--dark;
    }

    &-primary--darkmode {
        background-color: $color-primary--darkmode;
    }

    &-secondary {
        background-color: $color-secondary;
    }

    &-secondary--dark {
        background-color: $color-secondary--dark;
    }

    &-secondary--darkmode {
        background-color: $color-secondary--darkmode;
    }

    &-error {
        background-color: $color-error;
    }

    &-error--dark {
        background-color: $color-error--dark;
    }

    &-error--darkmode {
        background-color: $color-error--darkmode;
    }

    &-success {
        background-color: $color-success;
    }

    &-success--dark {
        background-color: $color-success--dark;
    }

    &-success--darkmode {
        background-color: $color-success--darkmode;
    }

    &-warning {
        background-color: $color-warning;
    }

    &-warning--dark {
        background-color: $color-warning--dark;
    }

    &-warning--darkmode {
        background-color: $color-warning--darkmode;
    }

    &-gradient--primary {
        background: linear-gradient(
            114.44deg,
            $color-primary 0%,
            $color-primary--darkmode 100%
        );
    }

    &-gradient--secondary {
        background: linear-gradient(
            114.44deg,
            $color-primary 0%,
            $color-secondary--darkmode 100%
        );
    }

    &-gradient--accent {
        background: linear-gradient(
            114.44deg,
            $color-error 0%,
            $color-warning--darkmode 100%
        );
    }

    &-title-active {
        background-color: $color-title-active;
    }

    &-body {
        background-color: $color-body;
    }

    &-label {
        background-color: $color-label;
    }

    &-placeholder {
        background-color: $color-placeholder;
    }

    &-line {
        background-color: $color-line;
    }

    &-input-bg {
        background-color: $color-input-background;
    }

    &-background {
        background-color: $color-background;
    }

    &-off-white {
        background-color: $color-off-white;
    }
}

.color {
    &-primary {
        color: $color-primary;
    }

    &-primary--dark {
        color: $color-primary--dark;
    }

    &-primary--dark {
        color: $color-primary--darkmode;
    }

    &-secondary {
        color: $color-secondary;
    }

    &-secondary--dark {
        color: $color-secondary--dark;
    }

    &-secondary--darkmode {
        color: $color-secondary--darkmode;
    }

    &-error {
        color: $color-error;
    }

    &-error--dark {
        color: $color-error--dark;
    }

    &-error--darkmode {
        color: $color-error--darkmode;
    }

    &-success {
        color: $color-success;
    }

    &-success--dark {
        color: $color-success--dark;
    }

    &-success--darkmode {
        color: $color-success--darkmode;
    }

    &-warning {
        color: $color-warning;
    }

    &-warning--dark {
        color: $color-warning--dark;
    }

    &-warning--darkmode {
        color: $color-warning--darkmode;
    }

    &-title-active {
        color: $color-title-active;
    }

    &-body {
        color: $color-body;
    }

    &-label {
        color: $color-label;
    }

    &-placeholder {
        color: $color-placeholder;
    }
}
