@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rippleExpand {
    50% {
        opacity: 0.2;
    }
    100% {
        transform: scale(4, 4);
        opacity: 0.05;
    }
}
