$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width--large: 1780px;

@mixin mobile {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktopLarge {
    @media (min-width: #{$desktop-width--large}) {
        @content;
    }
}
