// Brand colors

$color-primary: #5f2eea;
$color-primary--light: #e4daff;
$color-primary--dark: #2a00a2;
$color-primary--darkmode: #bca4ff;
$color-secondary: #1cc8ee;
$color-secondary--dark: #0096b7;
$color-secondary--darkmode: #82e9ff;
$color-error: #ed2e7e;
$color-error--light: #fff3f8;
$color-error--dark: #c30052;
$color-error--darkmode: #ff84b7;
$color-success: #00ba88;
$color-success--light: #f2fffb;
$color-success--dark: #00966d;
$color-success--darkmode: #34eab9;
$color-warning: #f4b740;
$color-warning--dark: #946200;
$color-warning--darkmode: #ffd789;

// Grayscale colors

$color-title-active: #14142b;
$color-body: #4e4b66;
$color-label: #6e7191;
$color-placeholder: #a0a3bd;
$color-line: #d9dbe9;
$color-input-background: #eff0f7;
$color-background: #f7f7fc;
$color-off-white: #fcfcfc;

// Font size

$font-display--lg: 64px;
$font-display--md: 48px;
$font-display--sm: 32px;

$font-text--lg: 24px;
$font-text--md: 18px;
$font-text--sm: 16px;
$font-text--xs: 14px;

$font-display-mb--lg: 48px;
$font-display-mb--md: 32px;
$font-display-mb--sm: 24px;

$font-text-mb--lg: 20px;
$font-text-mb--md: 16px;
$font-text-mb--sm: 14px;
$font-text-mb--xs: 13px;
