.buttons {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {
        flex: 1 1 auto;
        padding: 20px 16px;
        align-items: center;

        @include desktopLarge {
            padding: 30px 72px;
        }

        &.color-label {
            width: 120px;
        }
    }
}

.inputs {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {
        flex: 1 1 auto;
        padding: 20px 16px;
        align-items: center;

        @include desktopLarge {
            padding: 30px 72px;
        }

        &.color-label {
            width: 120px;
        }
    }
}

.custom-inputs {
    display: flex;
    flex-direction: column;
    max-width: 720px;

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {
        flex: 1 1 auto;
        padding: 20px 16px;
        align-items: center;

        @include desktopLarge {
            padding: 30px 72px;
        }

        &.color-label {
            width: 120px;
        }
    }
}
