.colorcards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        flex-basis: calc(33.3333% - 30px);
        border-radius: 32px;
        background-color: #fff;
        box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);

        @include desktopLarge {
            flex-basis: calc(25% - 30px);
        }

        @include mobile {
            flex-basis: 98%;
        }

        @include tablet {
            flex-basis: 98%;
        }

        &__color {
            height: 220px;
            border-radius: 32px;
            display: flex;
            align-items: flex-end;
        }

        &__variant {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            margin-left: 22px;
            margin-bottom: 40px;

            &::before {
                content: "";
                width: 50%;
                background-color: inherit;
                position: absolute;
                left: 0;
                top: 0;
                height: 50%;
            }
        }

        &__content {
            padding: 30px 32px;
        }
    }
}

.typography {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__items {
        flex-basis: 45%;

        @include mobile {
            flex-basis: 95%;
        }

        @include tablet {
            flex-basis: 95%;
        }
    }

    &__item {
        margin-top: 124px;
        &:first-child {
            margin-top: 0;
        }
        &__label {
            margin-bottom: 22px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;

    &__icon {
        width: 144px;
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-line;
    }
}
