.button {
    height: 64px;
    padding: 0 24px;
    min-width: 200px;
    color: $color-background;
    font-size: $font-text--sm;
    line-height: 28px;
    font-weight: 600;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 0;
    background-color: $color-primary;
    cursor: pointer;
    transition: background-color 0.35s;
    position: relative;
    overflow: hidden;

    $button: &;

    &__ripple {
        width: 64px;
        height: 64px;
        background-color: #fff;
        opacity: 0.35;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform-origin: 50% 50%;
        transform: scale(0, 0);
        animation: rippleExpand 0.45s forwards;
    }

    &__chevron {
        width: 24px;
        height: 24px;

        path {
            stroke: currentColor;
        }
    }

    &--size-medium {
        height: 56px;
    }

    &--size-small {
        height: 40px;
        font-size: 14px;
        min-width: 120px;
        padding: 0 12px;

        @at-root &.button--loading {
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    &:focus,
    &--state-focus {
        box-shadow: 0px 0px 0px 8px lighten($color-primary, 36);
    }

    &--loading {
        svg {
            width: 16px;
            height: 16px;
            animation: spin 1s linear infinite;

            path {
                stroke: currentColor;
            }
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: default;
    }

    &--icon-only {
        min-width: 54px;
        width: 54px;
        height: 54px;
        padding: 0;
        border-radius: 50%;
    }

    &--primary {
        &:hover,
        &--state-hover {
            background-color: $color-primary--dark;
        }
    }

    &--secondary {
        background-color: initial;
        border: 2px solid $color-primary;
        color: $color-primary;

        &:hover,
        &--state-hover {
            transition: border-color 0.35s;
            border-color: $color-primary--dark;
        }

        @at-root & #{$button}__ripple {
            background-color: $color-primary;
        }
    }

    &--subtle {
        background-color: initial;
        border: 2px solid $color-line;
        color: $color-primary;

        @at-root & #{$button}__ripple {
            background-color: $color-line;
        }

        &:focus,
        &.button--state-focus {
            box-shadow: 0px 0px 0px 8px lighten($color-line, 3);
        }
    }

    &--text {
        background-color: initial;
        color: $color-primary;
        padding: 0 32px;
        min-width: auto;

        &:focus,
        &.button--state-focus {
            box-shadow: none;
            background-color: $color-input-background;
        }

        @at-root & #{$button}__ripple {
            display: none;
        }
    }
}
