.checkbox {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;

    $parent: &;

    &__visual {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $color-line;
        transition: background-color 0.35s;
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center;

        @at-root #{$parent}:hover &,
            #{$parent}--state-hover & {
            background-color: $color-placeholder;
        }

        @at-root #{$parent}:hover #{$parent}__input:checked + &,
            #{$parent}--state-hover #{$parent}__input:checked + & {
            background-color: $color-primary--dark;
        }

        @at-root #{$parent}__input:focus + &,
            #{$parent}--state-focus & {
            box-shadow: 0 0 0px 8px $color-input-background;
        }

        @at-root #{$parent}__input:checked:focus + &,
            #{$parent}--state-focus #{$parent}__input:checked + & {
            box-shadow: 0 0 0px 8px $color-primary--light;
        }

        @at-root #{$parent}__input:disabled + & {
            opacity: 0.5;
        }
    }

    &__checkicon {
        width: 16px;
        opacity: 0;
        transition: opacity 0.35s;

        path {
            stroke: $color-background;
        }
    }

    &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;

        @at-root &:checked + #{$parent}__visual {
            background-color: $color-primary;
        }

        @at-root &:checked + #{$parent}__visual #{$parent}__checkicon {
            opacity: 1;
        }
    }
}
