.textarea {
    position: relative;
    color: $color-label;

    $parent: &;

    &--disabled {
        opacity: 0.5;
    }

    &__field {
        display: flex;
        align-items: center;
        min-width: 325px;
        border-radius: 16px;
        background: $color-input-background;
        border: 2px solid transparent;
        position: relative;

        @at-root #{$parent}--focused & {
            background: $color-off-white;
            border: 2px solid $color-title-active;
        }
    }

    &__label {
        flex-basis: 100%;
        width: 100%;
        display: block;
        position: relative;

        @at-root #{$parent}--small & {
            height: 56px;
        }
    }

    &__title {
        width: 100%;
        font-size: $font-text--sm;
        color: $color-placeholder;
        padding: 0 24px;
        position: absolute;
        left: 0;
        top: 20px;
        transition: font-size 0.25s, color 0.25s;

        @at-root #{$parent}--focused &,
            #{$parent}--with-text & {
            font-size: $font-text--xs;
            color: $color-label;
        }
    }

    &__input {
        outline: 0;
        background: transparent;
        width: 100%;
        font-size: $font-text--sm;
        padding: 0px 24px;
        padding-right: 50px;
        padding-top: 38px;
        border: 0;
        outline: 0;
        letter-spacing: 0.75px;
        font-family: inherit;
        min-height: 128px;
        resize: vertical;
    }

    &__closeicon {
        position: absolute;
        right: 24px;
        top: 22px;
        border: 0;
        outline: 0;
        background: transparent;
        cursor: pointer;

        svg {
            display: block;
            width: 18px;
            height: 18px;
        }
    }

    &__caption {
        margin-top: 8px;
        color: $color-label;

        p {
            font-size: $font-text--xs;
        }
    }

    &--state-success {
        color: $color-success;

        #{$parent}__field {
            background: $color-success--light;
            border-color: $color-success;
        }
        #{$parent}__title {
            color: $color-success;
        }
        #{$parent}__caption {
            color: $color-success;
        }
    }

    &--state-error {
        color: $color-error;

        #{$parent}__field {
            background: $color-error--light;
            border-color: $color-error;
        }
        #{$parent}__title {
            color: $color-error;
        }
        #{$parent}__caption {
            color: $color-error;
        }
    }
}
