.toggle {
    width: 64px;
    height: 36px;
    position: relative;
    border-radius: 40px;

    $parent: &;

    &__visual {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $color-line;
        transition: background-color 0.35s;
        display: flex;
        align-items: center;
        border-radius: 40px;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            background-color: $color-off-white;
            width: 32px;
            height: 32px;
            left: 2px;
            transition: left 0.35s;
            border-radius: 40px;
            top: 2px;
        }

        @at-root #{$parent}__input:checked + & {
            background-color: $color-primary;

            &::after {
                left: 50%;
                left: calc(50% - 2px);
                background-color: $color-background;
            }
        }

        @at-root #{$parent}:hover &,
            #{$parent}--state-hover & {
            background-color: $color-placeholder;
        }

        @at-root #{$parent}:hover #{$parent}__input:checked + &,
            #{$parent}--state-hover #{$parent}__input:checked + & {
            background-color: $color-primary--dark;
        }

        @at-root #{$parent}__input:focus + &,
            #{$parent}--state-focus & {
            box-shadow: 0 0 0px 8px $color-input-background;
        }

        @at-root #{$parent}__input:checked:focus + &,
            #{$parent}--state-focus #{$parent}__input:checked + & {
            box-shadow: 0 0 0px 8px $color-primary--light;
        }

        @at-root #{$parent}__input:disabled + & {
            opacity: 0.5;
        }
    }

    &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
    }
}
