.header {
    padding: 64px 120px;

    &__subtitle {
        margin-bottom: 32px;
        display: flex;

        p {
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    &__breadcrumb {
        display: flex;

        select {
            background: transparent;
            border: 0;
            border-bottom: 1px solid;
            padding: 0px 8px;
            font-size: $font-text--xs;
            color: $color-label;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-left: 12px;
        }
    }
}

.section {
    padding: 64px 120px;

    &__title {
        padding-bottom: 64px;
    }
}
